/*antialiased para renderizado de tipografía*/
html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



h1{
  font-family: 'Angkor', 'Bayon';
}

h2{
  font-family: 'Major Mono Display', monospace;
  font-weight: lighter;
}

h3{
  font-family: 'Major Mono Display', monospace;
  font-size: 1em;
}


h4{
  margin-top: 0;
  margin-bottom: : 10px;
  font-family: 'Major Mono Display', monospace;
  font-size: 1.5em;
  font-weight: lighter;}

p{
  font-family: 'VT323', monospace;
  line-height: 9px;
}

a{text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: overline;
}

body{
  background-color: #ededed;
}

header{
  display: flex;
  justify-content: space-between;
}

nav{
  display: flex;
  justify-content: flex-end;
}

ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

li{
  margin-left: 5px;
}

::selection{
  background-color: #e4ff009c;
}

.subtitle{
  font-weight: lighter;
}

.container{
  display: flex;
  flex-direction: column;
}

.entrada{
  display: flex;
  align-items: flex-start;
  height: auto;
  margin-right: 20%;
  padding:30px 30px 30px 0;
}

.text{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
}

.coloredtext{
    display: inline;
    background-color: #e4ff009c;
}

.blancoynegro{
  z-index: -1;
  display: flex;
  margin-right: 100px;
  margin-left: -50px;
  max-width: 60vw;
  filter: grayscale(100);
}
